* {
  padding: 0;
  margin: 0;
}

.navmenu {
  background-color: #024668;
}

.navmenu .link p {
  font-family: poppins;
  font-size: 14px;
  padding-top: 8px;
  padding-right: 9px;
}

.slide h5 {
  font-family: poppins;
  font-size: 32px;
  padding-bottom: 20px;
  text-align: left;
}

.category {
  margin-top: 30px;
}

.category h1 {
  font-family: poppins;
  font-size: 28px;
  margin-bottom: 30px;
}

.category .cardcategory:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.category .cardcategory h3 {
  font-family: poppins;
  font-size: 24px;
  text-align: center;
  padding-top: 15px;
  color: #ffffff;
}

.artikel {
  margin-top: 50px;
}

.artikel h1 {
  font-family: poppins;
  font-size: 28px;
}

.artikel p {
  font-family: poppins;
  font-size: 14px;
}

.artikel .cardNewArticle {
  margin-top: 50px;
}

.artikel .cardNewArticle h1 {
  font-family: poppins;
  font-size: 28px;
  color: black;
}

.artikel .cardNewArticle h1:hover {
  text-decoration: none;
  color: #008dd3;
}

footer {
  margin-top: 80px;
  background-color: #024668;
}

footer h5 {
  text-align: center;
  color: white;
  font-family: poppins;
  font-size: 12px;
  font-weight: 200;
}

footer .logo {
  width: 80px;
  margin: 40px 0px 20px 0px;
}

footer .logo2 {
  margin: 10px 0px 10px 0px;
}

footer .logo3 {
  margin: 20px 0px 20px 00px;
}

footer p {
  color: white;
  font-family: poppins;
  font-size: 14px;
  text-align: left;
}

footer .lokasi h1 {
  color: white;
  font-family: poppins;
  font-size: 18px;
  text-align: left;
  margin: 40px 0px 20px 0px;
}

footer .lokasi h3 {
  color: white;
  font-family: poppins;
  font-size: 16px;
  text-align: left;
  margin: 10px 0px 5px 0px;
}

footer .lokasi h5 {
  color: white;
  font-family: poppins;
  font-size: 14px;
  font-weight: 200;
  text-align: left;
}

footer .kontak h1 {
  color: white;
  font-family: poppins;
  font-size: 18px;
  text-align: left;
  margin: 40px 0px 20px 0px;
}

footer .kontak h3 {
  color: white;
  font-family: poppins;
  font-size: 14px;
  text-align: left;
  margin: 10px 0px 5px 0px;
}

footer .kontak h5 {
  color: white;
  font-family: poppins;
  font-size: 14px;
  font-weight: 200;
  text-align: left;
}

footer .logososial {
  margin-top: 80px;
}

footer hr {
  border: 0.2px solid white;
}

@media (max-width: 575.98px) {
  .slide h5 {
    font-family: poppins;
    font-size: 12px;
    text-align: center;
  }
  .category {
    margin-top: 30px;
  }
  .category h1 {
    font-family: poppins;
    font-size: 28px;
    margin-bottom: 30px;
  }
  .category .cardcategory {
    padding-bottom: 15px;
  }
  .category .cardcategory:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .category .cardcategory h3 {
    font-family: poppins;
    font-size: 24px;
    text-align: center;
    padding-top: 15px;
    color: #ffffff;
  }
  .artikel {
    margin-top: 30px;
  }
  .artikel h1 {
    margin-top: 15px;
    font-family: poppins;
    font-size: 18px;
  }
  .artikel p {
    font-family: poppins;
    font-size: 12px;
  }
  .artikel .cardNewArticle {
    margin-top: 20px;
  }
  footer {
    margin-top: 80px;
    background-color: #024668;
  }
  footer h5 {
    text-align: center;
    color: white;
    font-family: poppins;
    font-size: 12px;
    font-weight: 200;
  }
  footer .logo {
    width: 80px;
    margin: 20px 0px 20px 0px;
  }
  footer .logo2 {
    margin: 0px 0px 10px 0px;
  }
  footer .logo3 {
    margin: 10px 0px 20px 00px;
  }
  footer p {
    color: white;
    font-family: poppins;
    font-size: 14px;
    text-align: left;
  }
  footer .lokasi h1 {
    color: white;
    font-family: poppins;
    font-size: 18px;
    text-align: left;
    margin: 5px 0px 20px 0px;
  }
  footer .lokasi h3 {
    color: white;
    font-family: poppins;
    font-size: 16px;
    text-align: left;
    margin: 10px 0px 5px 0px;
  }
  footer .lokasi h5 {
    color: white;
    font-family: poppins;
    font-size: 14px;
    font-weight: 200;
    text-align: left;
  }
  footer .kontak h1 {
    color: white;
    font-family: poppins;
    font-size: 18px;
    text-align: left;
    margin: 20px 0px 10px 0px;
  }
  footer .kontak h3 {
    color: white;
    font-family: poppins;
    font-size: 14px;
    text-align: left;
    margin: 15px 0px 5px 0px;
  }
  footer .kontak h5 {
    color: white;
    font-family: poppins;
    font-size: 14px;
    font-weight: 200;
    text-align: left;
  }
  footer .logososial {
    width: 35px;
    margin-top: 38px;
  }
  footer hr {
    border: 0.2px solid white;
  }
}

@media (max-width: 991.98px) {
  .slide h5 {
    font-family: poppins;
    font-size: 20px;
    text-align: center;
  }
  .category {
    margin-top: 30px;
  }
  .category h1 {
    font-family: poppins;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
  }
  .category .cardcategory {
    padding-bottom: 15px;
  }
  .category .cardcategory:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .category .cardcategory h3 {
    font-family: poppins;
    font-size: 24px;
    text-align: center;
    padding-top: 15px;
    color: #ffffff;
  }
  .artikel {
    margin-top: 30px;
  }
  .artikel h1 {
    margin-top: 15px;
    font-family: poppins;
    font-size: 18px;
  }
  .artikel p {
    font-family: poppins;
    font-size: 12px;
  }
  .artikel .cardNewArticle {
    margin-top: 20px;
  }
  footer {
    margin-top: 80px;
    background-color: #024668;
  }
  footer h5 {
    text-align: center;
    color: white;
    font-family: poppins;
    font-size: 12px;
    font-weight: 200;
  }
  footer .logo {
    width: 80px;
    margin: 20px 0px 20px 0px;
  }
  footer .logo2 {
    margin: 0px 0px 10px 0px;
  }
  footer .logo3 {
    margin: 10px 0px 20px 00px;
  }
  footer p {
    color: white;
    font-family: poppins;
    font-size: 14px;
    text-align: left;
  }
  footer .lokasi h1 {
    color: white;
    font-family: poppins;
    font-size: 18px;
    text-align: left;
    margin: 5px 0px 20px 0px;
  }
  footer .lokasi h3 {
    color: white;
    font-family: poppins;
    font-size: 16px;
    text-align: left;
    margin: 10px 0px 5px 0px;
  }
  footer .lokasi h5 {
    color: white;
    font-family: poppins;
    font-size: 14px;
    font-weight: 200;
    text-align: left;
  }
  footer .kontak h1 {
    color: white;
    font-family: poppins;
    font-size: 18px;
    text-align: left;
    margin: 20px 0px 10px 0px;
  }
  footer .kontak h3 {
    color: white;
    font-family: poppins;
    font-size: 14px;
    text-align: left;
    margin: 15px 0px 5px 0px;
  }
  footer .kontak h5 {
    color: white;
    font-family: poppins;
    font-size: 14px;
    font-weight: 200;
    text-align: left;
  }
  footer .logososial {
    width: 35px;
    margin-top: 38px;
  }
  footer hr {
    border: 0.2px solid white;
  }
}
/*# sourceMappingURL=style.css.map */